
.my-vwr-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 48px 0;
  flex-direction: column;
  box-sizing: border-box;
  .my-vwr-header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    min-height: fit-content;
    .index {
      height: 36px;
      font-size: 24px;
      min-height: 36px;
      line-height: 46px;
      margin-right: 16px;
      text-align: center;
      color: var(--black);
      border-radius: 100%;
      min-width: fit-content;
      input {
        width: 30px;
        border: none;
        margin: -4px;
        padding: 4px;
        outline: none;
        color: inherit;
        text-align: right;
        font-size: inherit;
        font-family: inherit;
        border-radius: 10px;
        max-width: fit-content;
        -webkit-appearance: none;
        background-color: transparent;
        outline: none;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .content {
      strong {
        font-size: 22px;
      }
      div {
        font-size: 16px;
      }
    }
  }
  .my-vwr {
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 16px auto 0 auto;
    height: calc(100% - 106px); /* 48px + 42px * 16px*/
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    div,
    canvas {
      border-radius: 10px;
    }
    .my-vwr-marker {
      left: 14px;
      color: #fff;
      bottom: 10px;
      cursor: pointer;
      font-size: 24px;
      position: absolute;
      &:hover {
        cursor: pointer;
        filter: drop-shadow(rgb(255, 255, 255) 0px 0px 5px);
      }
    }
    .my-vwr-progress-wrapper {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      .my-vwr-progress {
        width: 36px;
        height: 36px;
        .CircularProgressbar-path {
          stroke: var(--primary-color);
          border-radius: 10px;
        }
        .CircularProgressbar-trail {
          stroke: #e0e0e0;
        }
      }
    }
  }
  .my-vwr-footer {
    display: flex;
    font-size: 14px;
    margin-top: 16px;
    align-items: center;
    color: var(--black);
    justify-content: flex-end;
    .dnk-dot {
      width: 0;
      padding: 0 14px;
      font-size: 24px;
      margin-top: 2px;
      line-height: 0px;
    }
    .dnk-tags {
      .dnk-tag {
        cursor: pointer;
        color: var(--primary-color);
        &:not(:first-of-type) {
          margin-left: 8px;
        }
        .fa-thumbtack {
          font-size: 12px;
          margin-left: 2px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .my-vwr-wrapper {
    padding: 0;
    .my-vwr-header {
      z-index: 1;
      padding: 8px;
      margin: 12px;
      margin-top: 16px;
      border-radius: 10px;
      box-sizing: border-box;
      width: calc(100% - 24px);
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 19px 58px rgba(0,0,0,0.10), 0 5px 12px rgba(0,0,0,0.2);
      .index {
        font-size: 20px;
        min-width: fit-content;
      }
      .content {
        strong {
          font-size: 16px;
        }
        div {
          font-size: 14px;
        }
      }
    }
    .my-vwr {
      margin: 0;
      height: 100%;
      border-radius: 0;
      position: absolute;
      div,
      canvas {
        border-radius: 0px;
      }
    }
    .my-vwr-footer {
      right: 0;
      z-index: 2;
      bottom: 32px;
      margin: 12px;
      padding: 8px;
      display: flex;
      position: absolute;
      width: fit-content;
      align-items: center;
      border-radius: 10px;
      box-sizing: border-box;
      flex-wrap: wrap-reverse;
      background-color: rgba(255,255,255,0.9);
      box-shadow: 0 19px 58px rgba(0,0,0,0.10), 0 5px 12px rgba(0,0,0,0.2);
      .dnk-dot {
        padding: 0 10px;
      }
    }
  }
}
